/* color variables for the various elements on the page */
:root{
  --stickyyellow: #FEFF9C;
  --lightstickyyellow: #F9F9D0;
  --stickypink:#ff7eb9;
  --lightstickypink:#f5c5da;
  --stickyblue: #7afcff;
  --lightstickyblue:#c2f4f5;
  --stickygreen: #B3D358;
  --lightstickygreen:#b9ca86;
  --inkred: #AC3235;
  --lightinkred: #E62E1C;
}

/*general statement to keep a elements from being blue and underlined*/
a {
  color:inherit;
  text-decoration: none;
}

html, body {
  background: var(--lightstickyyellow);
  height: 100%;
  margin: 0;
}

/*START OF HEADER SECTION CSS*/
/*adjusts the nametag image's size and rotation*/
.headerimg{
  width: 310.975px;
  height: 211.711px;
  transform: rotate(-5.871deg);
  flex-shrink: 0;
}

.fakeheaderimg{
  display: none;
}

header{
  height: 200px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  position:sticky;
  background: var(--lightstickyyellow);
}

header h1 {
  /*adjusts h1 element's position and rotation*/
  display: flex;
  width: 249.484px;
  height: 78.807px;
  transform: rotate(-6.911deg);
  flex-direction: column;

  /*adjusts h1 element's size and formatting*/
  color: var(--inkred);
  text-align: center;
  font-family: Dela Gothic One;
  font-size: 24px;
  line-height: normal;
  position:absolute;
  left: 31.8px;
  top: 74.32px;
  background:none;
  font-family: cursive;
}
/*adjusts position and color of secondary h1 element creating the shadow effect*/
#h1-shadow {
  left: 32.58px;
  color: #C76E70;
}

/* Original CSS */
nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  background-color: white;
  color: var(--inkred);
  border-radius: 25px;
  width: 139px;
  height: 57px;
  margin: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: var(--inkred);
  font-family: cursive;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
}

/* Places a gif over the background of the nav box when hovered to border the menu option */
nav ul li:hover {
  background-image: url(../src/assets/images/redpencircle.gif);
  background-repeat: no-repeat;
  background-size: 100% 85%;
  background-position: center;
}

/* Controls how the active webpage nav bar is highlighted */
.active {
  font-size: 150%;
  font-weight: 700;
  text-decoration: underline solid red;
  text-decoration-thickness: 3px;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 632px) {
  nav ul li {
    width: 30%;
    max-width: none;
    height: 10%;
    max-height: none;
    margin: 10%;
  }

  header h1 {
    display:none;
  }

  .headerimg {
    display:none;
  }
  .fakeheaderimg {
    display: block;
    width: 150px;
    max-width: 300px; 
    height: auto;
  }
}

